<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goggxi.covid19detector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/covid_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/covid_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19Detector"
        tools:targetApi="m">
        <activity android:name=".ui.classification.ShowImageActivity"/>
        <activity android:name=".ui.detailcovidprovince.DetailCovidActivity" />
        <activity android:name=".ui.news.NewsDetailActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>